<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <input type="text" id="Id" placeholder="User Id" required>
        <br>
        <input type="text" id="nickname" placeholder="nickname">
        <br>
        <input type="text" id="name" placeholder="name">
        <br>
        <input type="password" placeholder="password" id="password" maxlength="20" minlength="5" required>
        <br>
        <input type="number" id="status" placeholder="status">
        <br>
        <button id="create"  onclick="sendJSON()">Create User </button>
        <br>
        <label id="jsontext"></label>

    </body>
</html>

{% block script %}
<script>
    function sendJSON(){ 
        var Id = document.getElementById('Id'); 
        var nickname = document.getElementById('nickname'); 
        var name = document.getElementById('name'); 
        var password = document.getElementById('password'); 
        var create_time = document.getElementById('create_time'); 
        var status = document.getElementById('status');

        var data={
            id: parseInt(Id.value),
            nickname:nickname.value,
            name:name.value,
            password:password.value,
            status:parseInt(status.value)
        }
        
        label=document.getElementById('jsontext')
        label.innerHTML =JSON.stringify(data)
    
        fetch(`${window.origin}/users`, {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(data),
          cache: "no-cache",
          headers: new Headers({
            "content-type": "application/json"
          })
        })
    }
</script>
{% endblock %}